html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  background-color: black !important;
  color: white;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
ul,
li {
  list-style: none;
}
a,
a:hover {
  text-decoration: none !important;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
* {
  color: white;
}
.navbar,
.navbar-default {
  margin: 0 !important;
  padding: 0;
  border-radius: 0px !important;
  border: none !important;
  width: 100%;
  z-index: 1001;
}
.navbar-nav span {
  font-weight: 600;
  color: #777;
}
.navbar-nav a:hover span {
  border-bottom: solid 2px #c80803;
}
a.navbar-brand {
  font-weight: 700;
  color: #c80803 !important;
}
.page {
  width: 100%;
  min-height: 100%;
  height: inherit;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: black;
}
#timeline {
  position: fixed;
  z-index: 1001;
  pointer-events: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#timeline > img {
  width: 100%;
  position: absolute;
  z-index: 2;
}
.close-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}
.view-photos,
.play-video,
#play-video img,
#recipe {
  cursor: pointer;
}
#view-photo,
#play-video,
#show-recipe {
  left: 10000px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2000;
  overflow: hidden;
}
#view-photo .slick,
#play-video .slick,
#show-recipe .slick {
  width: 80%;
  margin: 0 auto;
  margin-top: 7%;
}
#view-photo .slick > div img,
#play-video .slick > div img,
#show-recipe .slick > div img {
  max-height: 666px;
  z-index: 2;
  margin: 0 auto;
}
#view-photo .slick .ytplayer,
#play-video .slick .ytplayer,
#show-recipe .slick .ytplayer {
  width: inherit;
  height: interit;
}
#view-photo img.slick-next,
#play-video img.slick-next,
#show-recipe img.slick-next {
  right: -47px;
  top: 49%;
}
#view-photo img.slick-prev,
#play-video img.slick-prev,
#show-recipe img.slick-prev {
  left: -47px;
  top: 49%;
}
.recipe-wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 7%;
  min-height: 600px;
  height: 62%;
  position: relative;
}
.recipe-wrapper .close-x {
  position: absolute;
  font-size: 35pt;
  font-weight: 100;
  margin: 10px 0 0 26px;
  cursor: pointer;
  color: #c80803;
  z-index: 3;
}
.recipe-wrapper .close-x:hover {
  color: #c20803;
}
.recipe-wrapper .recipe-overlay {
  width: 100%;
  position: absolute;
  z-index: 2;
}
.recipe-wrapper .recipe-background {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 1;
  position: absolute;
  background-color: black;
}
.recipe-wrapper .recipe-content {
  position: absolute;
  height: 65%;
  bottom: 0;
  width: 100%;
  z-index: 2;
}
.recipe-wrapper .recipe-content > div > h3 {
  color: #c80803;
  margin-bottom: 25px;
}
.recipe-wrapper .recipe-content > h3 {
  padding-left: 30px;
  color: #c80803;
}
.recipe-wrapper .recipe-content .left > div {
  width: 100%;
  height: 20px;
}
.recipe-wrapper .recipe-content .left > div > div {
  float: left;
  width: 6%;
  color: #c80803;
}
.recipe-wrapper .recipe-content .left > p {
  margin-top: -23px;
}
.recipe-wrapper .recipe-content .left > div > p {
  float: right;
  text-align: left;
  width: 94%;
  margin: 0;
}
.recipe-wrapper .recipe-content .right .circle {
  float: left;
}
.recipe-wrapper .recipe-content .right > div {
  width: 100%;
  min-height: 70px;
}
.recipe-wrapper .recipe-content .right div > p {
  float: right;
  width: 90%;
}
.recipe-wrapper .recipe-content .left {
  width: 50%;
  float: left;
  padding-left: 30px;
}
.recipe-wrapper .recipe-content .right {
  width: 50%;
  float: right;
  padding-right: 30px;
}
.recipe-wrapper .download-recipes > div:hover {
  color: #111;
  background-color: #c20803;
}
.recipe-wrapper .download-recipes {
  width: 100%;
  margin: 0 auto;
  height: 40px;
  position: absolute;
  bottom: 0;
  z-index: 3;
}
.recipe-wrapper .download-recipes > div {
  cursor: pointer;
  width: 200px;
  text-align: center;
  font-size: 12pt;
  line-height: 40px;
  height: inherit;
  margin: 0 auto;
  position: relative;
  background-color: #c80803;
  bottom: 30px;
  font-weight: 100;
}
.cover-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding-top: 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1000;
}
.cover {
  position: relative;
  width: 100%;
  height: inherit;
  overflow: hidden;
}
.cover > div {
  height: 100%;
}
.color-picker {
  z-index: 100;
  position: absolute;
  top: 5000px;
  left: 70px;
}
.color-picker ul {
  width: 30px;
}
.color-picker .red div:first-child {
  background-color: #c80803;
}
.color-picker .black div:first-child {
  background-color: black;
}
.color-picker .grey div:first-child {
  background-color: grey;
}
.color-picker .white div:first-child {
  background-color: white;
}
.color-picker .red div:nth-child(2) {
  color: #c80803;
  width: 165px;
  top: 76px;
}
.color-picker .black div:nth-child(2) {
  color: black;
  width: 165px;
  top: 129px;
}
.color-picker .grey div:nth-child(2) {
  color: grey;
  width: 165px;
  top: 182px;
}
.color-picker .white div:nth-child(2) {
  color: black;
  width: 165px;
  top: 235px;
}
.color-picker li:nth-child(2) {
  margin-top: 12px;
}
.color-picker li {
  margin-top: 28px;
  cursor: pointer;
  font-size: 7pt;
}
.color-picker li:hover div:nth-child(2) {
  opacity: 1;
  transition-delay: 0s;
}
.color-picker li div:nth-child(2) {
  transition: opacity 0.3s linear;
}
.color-picker li div:first-child {
  position: relative;
  height: 25px;
  width: 25px;
  border: 1px solid #777;
  border-radius: 50%;
  z-index: 2;
}
.color-picker li div:nth-child(2) {
  position: absolute;
  height: 25px;
  left: 12px;
  background-color: white;
  z-index: 1;
  text-align: right;
  padding-right: 10px;
  line-height: 23px;
  font-size: 11pt;
  opacity: 0;
}
.cover-picker {
  z-index: 100;
  position: absolute;
  top: 5000px;
  right: 70px;
}
.cover-picker .selected div {
  background-color: white;
}
.cover-picker li {
  margin-top: 10px;
  cursor: pointer;
}
.cover-picker li div {
  height: 7px;
  width: 7px;
  border: 1px solid #FFF;
  background-color: black;
  border-radius: 50%;
}
.cover-item-1 > div {
  position: absolute;
  width: 100%;
  bottom: 3%;
  height: initial !important;
}
.cover-item-2 .col-xs-10 > div {
  max-width: 35vw;
  margin-top: 28vh;
  float: right;
}
.cover-item-2 > div {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}
.cover-item-2 > div > p {
  bottom: -3px;
  left: 3px;
  position: absolute;
  font-size: 7pt;
}
.cover-item-3 .col-xs-8 > div {
  max-width: 25vw;
  margin-top: 5vh;
  float: right;
}
.cover-item-3 ul {
  margin: 0 0 22px 20px;
}
.cover-item-3 ul,
.cover-item-3 li {
  list-style: initial;
}
.cover-item-3 img {
  max-width: 40px;
  margin-right: 10px;
}
.cover-item-3 .play-video {
  max-width: 28px;
}
.cover-item-4 ul {
  padding-top: 40px;
}
.cover-item-4 li {
  width: 33%;
  float: left;
}
.cover-item-4 li > div:first-child {
  float: left;
  width: 25%;
  margin: 17px 0 0 12px;
}
.cover-item-4 li > div:first-child img {
  width: 70px;
}
.cover-item-4 li > div:last-child {
  float: right;
  width: 70%;
}
.cover-item-4 li > div:last-child h5 {
  color: #c80803;
}
.cover-item-4 li > div:last-child p {
  font-size: 0.9em;
}
.cover-item-5 .col-xs-3 {
  top: 58%;
}
.cover-item-6 .col-xs-3 {
  top: 58%;
}
.cover-item-7 .col-xs-3 {
  top: 9%;
}
.cover-item-7 ul {
  margin: 0 0 22px 20px;
}
.cover-item-7 ul,
.cover-item-7 li {
  list-style: initial;
}
.cover-item-8 .col-xs-3 {
  top: 58%;
}
.cover-item-9 .col-xs-3 {
  top: 9%;
}
.cover-item-10 .col-xs-3 {
  top: 20%;
}
.cover-item-10 img {
  width: 40px;
}
.cover-item-11 .col-xs-3 {
  top: 11%;
}
.cover-item-11 ul {
  margin-top: 33px;
}
.cover-item-11 li {
  font-size: 22pt;
  line-height: 19px;
  margin-bottom: 27px;
}
.cover-item-11 li span {
  font-size: 10pt;
}
.cover-item-11 img {
  width: 80px;
}
.cover-item-12 {
  z-index: 101;
}
.cover-item-12 .slick div img {
  width: 100%;
}
.cover-item-13 .col-xs-10 {
  top: 60%;
  text-align: center;
}
.cover-item-13 .col-xs-10 p.copy {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 25px !important;
}
.cover-item-13 .col-xs-10 p.disclaimer {
  margin-top: 12px;
  font-size: 8pt;
}
.cover-item-13 .col-xs-10 div.findstore {
  margin: 0 auto;
  border: 1px solid white;
  max-width: 200px;
  height: 47px;
  font-size: 17pt;
  line-height: 32pt;
  cursor: pointer;
}
.cover-item-13 .col-xs-10 div.findstore:hover {
  border: 1px solid #999;
  color: #999;
}
.cover-item-13 > div {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}
.cover-item-13 > div > p {
  bottom: -8px;
  left: 3px;
  position: absolute;
  font-size: 7pt;
}
img.slick-next {
  right: 32px;
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
img.slick-prev {
  left: 45px;
}
img.slick-prev,
img.slick-next {
  width: 30px;
  height: 30px;
  background: url(../assets/images/arrow.png) no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.spin-arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 30%;
}
#spin-left {
  left: 26%;
}
#spin-right {
  right: 26%;
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
#loader {
  position: absolute;
  z-index: 4000;
  width: 100%;
  height: 100%;
  background-color: #000;
}
#loader img {
  position: relative;
  top: 43%;
  left: 49%;
}
.circle {
  border-radius: 50%;
  background-color: #c80803;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 24px;
}
.background {
  width: 100%;
}
.animate-all {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.centered,
.centred {
  margin: 0 auto;
  display: block;
  text-align: center;
}
.black-to-transparent-gradient-top {
  background: -moz-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=0);
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.black-to-transparent-gradient-bottom {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
}
.black-to-transparent-gradient-right {
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=1);
  width: 40px;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
}
.black-to-transparent-gradient-left {
  background: -moz-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #000000), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, #000000 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=1);
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
p > span,
h1 > span,
h2 > span,
h3 > span,
h4 > span {
  color: #c80803;
}
